.header-color{
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Georgia;
}


.landing-grid{
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;

}
.avatar-img{
  height: 250px;
  width: auto;
  
}
.banner-text{
  background-color: black;
  opacity:.8;
  width:75%;
  margin:auto; 
  padding-top: 5px;
  border-radius: 10px;
}
.banner-text h1{
  font-size:50px;
  font-weight: bold;
  color:white;
  
}
.banner-text hr{
  border: 5px dotted white;
  width:50%;
  margin:auto;
}
.section{
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 700px;
}

.block{
  height:100px;
}

.banner-text p{
  color:white;
  font-size: 20px;
  padding:1em;
}
.social-links{
  display: flex;
  justify-content: space-between;
  width:50%;
  margin:auto;

}

.social-links  i {
  color:white;
  font-size: 60px;
  padding:10px;

}
.projects-grid{
  display: flex;
  justify-content: flex-end;
}
.contact-grid{
  text-align:center;


}

.contact-grid img{
  padding-top: 50px;
}
.contact-grid h1{
 font-family: 'Anton', sans-serif;
}
.contact-grid hr{
  border-top: 5px dotted black;
  width:50%;
  margin:auto;
}
.contact-list{
  margin-left: 20%;
}

.contact-list i{
  padding-right: 5rem;
  font-size: 66px;
  
}
